.right_field{text-align: right;}
.query_tab td{padding: 2px;}
.title_right .r_a{margin-top: 8px;color: white;}
.notify_notice{color:red}
.template_kuang{margin-top:5px;margin-left: 10px;margin-top: 10px;}
.template_content{padding: 5px;}
.template_action{margin-top: 20px;}
.tab_box td{padding:5px;}
.notice_ul li{float: none;}
.hot_menu a{color:#ff6633}