	/*你可以亲切称呼他是 '垃圾提示(ljtips)' 呵呵 */
	/* 颜色方案1 #ccc #F9F3D0  #eee  边框颜色 背景颜色  CSS3阴影颜色*/
	/* 颜色方案2 #FEBE8F #FFF8D9 #eee 边框颜色 背景颜色 CSS3阴影颜色*/
	/* 你可以使用更多配色方案 需要把西面对应的颜色全部替换就行了。*/
	.lj-tipsWrap,.lj-in,.lj-close{display:inline-block;}
	.lj-tipsWrap{color:#FF6600;background:#FFF8D9;line-height:1.5em;padding:5px 15px;border:1px solid #FEBE8F;position:absolute;text-align:left;}
	.lj-in{position:absolute;zoom:1;border:10px dashed transparent;width:0px;height:0px;}
	.lj-in span{zoom:1;width:0px;height:0px;overflow:hidden;}
	.lj-close{position:absolute; text-decoration:none;color:#000;font-size:14px; height:9px; width:9px; overflow:hidden;line-height:0.5em; right:0; top:0;}
	.lj-close:hover{color:#39F;}
	.lj-top{border-top:10px solid #FEBE8F;bottom:-20px; left:3px;}
	.lj-top span{border-top:10px solid #FFF8D9;margin:-11px 0 0 -10px;}
	.lj-right{border-right:10px solid #FEBE8F;left:-20px; top:3px;}
	.lj-right span{border-right:10px solid #FFF8D9;margin:-10px 0 0 -9px;}
	.lj-bottom{border-bottom:10px solid #FEBE8F;top:-20px; left:3px;}
	.lj-bottom span{border-bottom:10px solid #FFF8D9;margin:-9px 0 0 -10px;}
	.lj-left{border-left:10px solid #FEBE8F;right:-20px; top:3px; }
	.lj-left span{border-left:10px solid #FFF8D9;margin:-10px 0 0 -11px;}
	.lj-left ~ .lj-close{left:0;}
	
	/*css 3 渐进增强*/
	.lj-tipsWrap{-webkit-border-radius:3px;-moz-border-radius:3px;-webkit-box-shadow:2px 2px 3px #eee;-moz-box-shadow:2px 2px 3px #eee;}

