.ui-button-text {
    background-image: url("https://apimg.alipay.com/sys/authcenter/style/renew_20110718/common.png");
    background-repeat: repeat-x;
    cursor: pointer;
    font-family: Tahoma;
    outline: 0 none;
}