.ui-button-text {
    background-image: url("https://apimg.alipay.com/sys/authcenter/style/renew_20110718/common.png");
    background-repeat: repeat-x;
    cursor: pointer;
    font-family: Tahoma;
    outline: 0 none;
    
    color: #FFFFFF;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    padding: 0 16px;
    
    border: 0 none;    
    margin: 0;
    
    background-position: -210px -222px;
}