.ui-button-text {
    background-image: url("https://apimg.alipay.com/sys/authcenter/style/renew_20110718/common.png");
    background-repeat: repeat-x;
    cursor: pointer;
    font-family: Tahoma;
    outline: 0 none;
    
    color: #FFFFFF;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    padding: 0 16px;
    
    border: 0 none;    
    margin: 0;
     vertical-align: baseline;
         font-size: 100%;
    
    background-position: -210px -222px;
}

.ui-button-ok{
    margin-right: 20px;    
    background-position: -210px -153px;
    border: 1px solid #D74C00;
    font-size: 14px;
    padding: 1px;
    
    background-image: url("https://apimg.alipay.com/sys/authcenter/style/renew_20110718/common.png");
    background-repeat: repeat-x;
    cursor: pointer;
    outline: 0 none;
    
    display: inline-block;
    line-height: 100%;
    text-align: left;
    text-decoration: none;
    vertical-align: middle;
    }
    
    
    .haopingtitle {
    background-image: url("http://img03.taobaocdn.com/imgextra/i3/26914588/T2HiKDXa8XXXXXXXXX_!!26914588.png");
    background-position: right top;
    background-repeat: repeat-y;
    width: 100%;
}