<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<!-- 链接数据库字符串 -->
		<add key="ConnString" value="Data Source=.;Initial Catalog=TopDataAnalysis;User ID=sa;pwd=123;" />

		<add key="LogAddress" value="D:\\TaoBaoOrder\\GetOrderLog" />

		<add key="GetHour" value="2" />
	</appSettings>
</configuration>