<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		<section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
	</configSections>
	<dataConfiguration defaultDatabase="DefaultString"/>
	<connectionStrings>
		<add name="DefaultString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Documents and Settings\Administrator\桌面\iphone项目\data\复件 iPhoneShop.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<cachingConfiguration defaultCacheManager="Default Cache Manager">
		<cacheManagers>
			<add expirationPollFrequencyInSeconds="1200" maximumElementsInCacheBeforeScavenging="100" numberToRemoveWhenScavenging="1000" backingStoreName="Null Storage" name="Default Cache Manager"/>
		</cacheManagers>
		<backingStores>
			<add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="Null Storage"/>
		</backingStores>
	</cachingConfiguration>
	<system.web>
		<httpRuntime maxRequestLength="2097151" executionTimeout="3600"/>
		<customErrors mode="Off">
		</customErrors>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="auto" uiCulture="auto"/>
		</system.web>
	<system.net>
		<settings>
			<httpWebRequest useUnsafeHeaderParsing="true"/>
		</settings>
	</system.net>
</configuration>
