
A:active {
	OUTLINE-STYLE: none
}
A:focus {
	OUTLINE-STYLE: none
}

.buttoncss {
	BACKGROUND-IMAGE: url(../images/bluebuttonbg.gif); BORDER-BOTTOM: #93bee2 1px solid; BORDER-LEFT: #93bee2 1px solid; BACKGROUND-COLOR: #e8f4ff; FONT-STYLE: normal; WIDTH: 100px; FONT-FAMILY: "tahoma" , "????"; HEIGHT: 22px; COLOR: #006699; FONT-SIZE: 9pt; BORDER-TOP: #93bee2 1px solid; CURSOR: pointer; BORDER-RIGHT: #93bee2 1px solid
}
.pretitle {
	TEXT-ALIGN: center; MARGIN: auto; COLOR: red; FONT-SIZE: 18px
}
.precontent {
	FONT-SIZE: 13px
}
#mytab {
	MARGIN: 0px auto; BORDER-COLLAPSE: collapse; EMPTY-CELLS: show; TABLE-LAYOUT: fixed
}
#mytab TD {
	HEIGHT: 25px
}
.t1#mytab {
	BORDER-BOTTOM: #cad9ea 1px solid; BORDER-LEFT: #cad9ea 1px solid; COLOR: #666; BORDER-TOP: #cad9ea 1px solid; BORDER-RIGHT: #cad9ea 1px solid
}
.t1#mytab TH {
	HEIGHT: 30px
}
.t1#mytab TD {
	BORDER-BOTTOM: #cad9ea 1px solid; BORDER-LEFT: #cad9ea 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 1em; PADDING-RIGHT: 1em; BORDER-TOP: #cad9ea 1px solid; BORDER-RIGHT: #cad9ea 1px solid; PADDING-TOP: 0px
}
.t1#mytab TH {
	BORDER-BOTTOM: #cad9ea 1px solid; BORDER-LEFT: #cad9ea 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 1em; PADDING-RIGHT: 1em; BORDER-TOP: #cad9ea 1px solid; BORDER-RIGHT: #cad9ea 1px solid; PADDING-TOP: 0px
}
.t1#mytab TR.a1 {
	BACKGROUND-COLOR: #f5fafe
}

.clearfix:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.red {
	COLOR: #f00; CURSOR: pointer
}
.green {
	COLOR: #029834; FONT-WEIGHT: bold
}
.gry {
	COLOR: #999
}
.indent {
	TEXT-INDENT: 2em
}
.space_t {
	MARGIN-TOP: 20px
}
.top {
	WIDTH: 100%; BACKGROUND: url(../Images/bg.jpg) repeat-x; HEIGHT: 54px
}
.top1 {
	MARGIN: 0px auto; WIDTH: 910px; HEIGHT: 42px; PADDING-TOP: 8px
}
.top11 {
	TEXT-ALIGN: right; WIDTH: 600px; FLOAT: right; FONT-SIZE: 14px; PADDING-TOP: 20px
}
* {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
IMG {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}

A {
	COLOR: #333; TEXT-DECORATION: none
}
A:hover {
	COLOR: #333; TEXT-DECORATION: underline
}
.main {
	MARGIN: 0px auto; WIDTH: 902px
}
H3 {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 11px; PADDING-RIGHT: 0px; FONT-SIZE: 14px; PADDING-TOP: 13px
}
.mar_b {
	PADDING-BOTTOM: 15px
}
.cp1 {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 66px; WIDTH: 730px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.agr {
	HEIGHT: 120px; PADDING-TOP: 20px
}
.sbmt1 {
	BORDER-BOTTOM-STYLE: none; TEXT-ALIGN: center; BORDER-RIGHT-STYLE: none; MARGIN: 0px auto; WIDTH: 189px; DISPLAY: block; BORDER-TOP-STYLE: none; BACKGROUND: url(../Images/03.jpg); HEIGHT: 30px; BORDER-LEFT-STYLE: none; CURSOR: pointer; FONT-WEIGHT: bold
}
.foot {
	BORDER-BOTTOM: #888 3px solid; TEXT-ALIGN: center; PADDING-BOTTOM: 12px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, Arial; BACKGROUND: #eee; BORDER-TOP: #b7b7b7 1px solid; PADDING-TOP: 12px
}
.foot A {
	COLOR: #444; TEXT-DECORATION: none
}
.foot A:hover {
	COLOR: #444; TEXT-DECORATION: underline
}

.tmain {
	MARGIN: 0px auto; WIDTH: 930px; PADDING-TOP: 10px
}
.tleft {
	MARGIN-TOP: 8px; WIDTH: 220px; FLOAT: left; OVERFLOW: hidden; MARGIN-RIGHT: 8px; _display: inline
}
.tright {
	WIDTH: 690px; FLOAT: left; _display: inline
}
.tleft H3 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 6px; PADDING-RIGHT: 0px; BACKGROUND: url(../Images/05.gif) repeat-x; HEIGHT: 22px; FONT-SIZE: 14px; PADDING-TOP: 5px
}
.tlbox {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; BORDER-TOP-COLOR: #ddd; BORDER-TOP-WIDTH: 1px; BORDER-RIGHT: #ddd 1px solid
}
.clearb {
	HEIGHT: 1px; CLEAR: both
}
.tlist {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 18px; PADDING-RIGHT: 0px; PADDING-TOP: 12px
}
.tlist UL LI {
	WIDTH: 186px; MARGIN-BOTTOM: 5px; HEIGHT: 20px; OVERFLOW: hidden
}
.tlist A {
	COLOR: #0370ba; TEXT-DECORATION: none
}
.tlist A:hover {
	COLOR: #0370ba; TEXT-DECORATION: underline
}
.tlist A:visited {
	COLOR: #0370ba; TEXT-DECORATION: none
}
.sq {
	TEXT-ALIGN: center; HEIGHT: 90px; PADDING-TOP: 10px
}
.trbox {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; MARGIN-TOP: 8px; MARGIN-BOTTOM: 8px; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid
}
.trbox H2 {
	BACKGROUND-COLOR: #eeeeee; PADDING-LEFT: 22px; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 15px; HEIGHT: 30px; COLOR: #0370ba; FONT-SIZE: 14px; PADDING-TOP: 10px
}
.trbox P {
	PADDING-BOTTOM: 18px; PADDING-LEFT: 25px; PADDING-RIGHT: 25px; PADDING-TOP: 0px
}
.trbox {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 25px; PADDING-RIGHT: 25px; PADDING-TOP: 0px
}
.current {
	FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.taobaotitle {
	BORDER-BOTTOM: #cccccc 1px solid; WIDTH: 380px; OVERFLOW: hidden
}
.taobaoother {
	BORDER-BOTTOM: #cccccc 1px solid; WIDTH: 168px
}
.taobaoimg {
	BORDER-RIGHT-WIDTH: 0px; WIDTH: 65px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 65px; BORDER-LEFT-WIDTH: 0px
}
.taobaoclass {
	BORDER-BOTTOM: #cccccc 1px solid; WIDTH: 155px
}
.taobaodate {
	BORDER-BOTTOM: #cccccc 1px solid
}
.fs {
	PADDING-LEFT: 15px
}
.btn3_mouseout {
	BORDER-BOTTOM: #2c59aa 1px solid; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,    StartColorStr=#ffffff, EndColorStr=#C3DAF5); BORDER-LEFT: #2c59aa 1px solid; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; COLOR: black; FONT-SIZE: 12px; BORDER-TOP: #2c59aa 1px solid; CURSOR: hand; BORDER-RIGHT: #2c59aa 1px solid; PADDING-TOP: 2px
}
.btn3_mouseover {
	BORDER-BOTTOM: #2c59aa 1px solid; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,    StartColorStr=#ffffff, EndColorStr=#D7E7FA); BORDER-LEFT: #2c59aa 1px solid; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; COLOR: black; FONT-SIZE: 12px; BORDER-TOP: #2c59aa 1px solid; CURSOR: hand; BORDER-RIGHT: #2c59aa 1px solid; PADDING-TOP: 2px
}
#ItemContent {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; MARGIN: 10px auto auto; WIDTH: 630px; HEIGHT: 344px; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid
}
DIV.meneame {
	TEXT-ALIGN: center; PADDING-BOTTOM: 3px; MARGIN: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; COLOR: #ff6500; FONT-SIZE: 75%; PADDING-TOP: 3px
}
DIV.meneame A {
	BACKGROUND-IMAGE: url(../Images/meneame.jpg); BORDER-BOTTOM: #ff9600 1px solid; BORDER-LEFT: #ff9600 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; BACKGROUND-POSITION: 50% bottom; COLOR: #ff6500; BORDER-TOP: #ff9600 1px solid; CURSOR: pointer; MARGIN-RIGHT: 3px; BORDER-RIGHT: #ff9600 1px solid; TEXT-DECORATION: none; PADDING-TOP: 5px
}
DIV.meneame A:hover {
	BACKGROUND-IMAGE: none; BORDER-BOTTOM: #ff9600 1px solid; BORDER-LEFT: #ff9600 1px solid; BACKGROUND-COLOR: #ffc794; COLOR: #ff6500; BORDER-TOP: #ff9600 1px solid; BORDER-RIGHT: #ff9600 1px solid
}
DIV.meneame A:active {
	BACKGROUND-IMAGE: none; BORDER-BOTTOM: #ff9600 1px solid; BORDER-LEFT: #ff9600 1px solid; BACKGROUND-COLOR: #ffc794; COLOR: #ff6500; BORDER-TOP: #ff9600 1px solid; BORDER-RIGHT: #ff9600 1px solid
}
DIV.meneame SPAN.current {
	BORDER-BOTTOM: #ff6500 1px solid; BORDER-LEFT: #ff6500 1px solid; PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #ffbe94; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; COLOR: #ff6500; BORDER-TOP: #ff6500 1px solid; FONT-WEIGHT: bold; MARGIN-RIGHT: 3px; BORDER-RIGHT: #ff6500 1px solid; PADDING-TOP: 5px
}
DIV.meneame SPAN.disabled {
	BORDER-BOTTOM: #ffe3c6 1px solid; BORDER-LEFT: #ffe3c6 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; COLOR: #ffe3c6; BORDER-TOP: #ffe3c6 1px solid; MARGIN-RIGHT: 3px; BORDER-RIGHT: #ffe3c6 1px solid; PADDING-TOP: 5px
}
