.navigation .crumbs {
background-color:#F9FAFC;
padding:4px 12px;
}

body
{
font:12px/1.5 Tahoma,Helvetica,Arial,'宋体',sans-serif;
	}
	
	html, legend {
color:#404040;
}

.navigation {
border:1px solid #C4D5E0;
margin-bottom:-1px;
padding:0px;
position:relative;
}


.crumbs a {
background:url("http://a.tbcdn.cn/sys/common/img/crumb_bg.gif") no-repeat scroll 100% 50% transparent;
margin-right:1px;
padding-right:8px;
color:#3366CC;
text-decoration:none;
}

.navigation .absright {
line-height:22px;
position:absolute;
right:2px;
top:-21px;
}

.navigation .absright .msg {
float:left;
}

.navigation .absright li {
list-style:none outside none;
}


 .msg .help{
background:url("http://a.tbcdn.cn/sys/common/img/msg_bg.png") no-repeat scroll 0 0 transparent;
border:1px solid #DDDDDD;
color:#404040;
float:left;
line-height:18px;
padding:2px 10px 2px 23px;
}


.navigation .absright .msg .help {
background-color:transparent;
border:medium none;
}

.msg .help {
background-color:#FFFFFF;
background-position:3px -1197px;
border-color:#FFFFFF;
}

.msg .help a 
{
	text-decoration:none;
}

#main-content 
{
	margin:-1px;
border:1px solid #C4D5E0;
background:none repeat scroll 0 0 #FFFFFF;
min-height:550px;
padding:10px;
}