@charset "utf-8";
/* CSS Document */


body {
	color:#666666;
	font-size:12px;
	margin:0;
	background:#e2e2e2;
	background-image:url(text.txt); /* for ie6 */background-attachment:fixed;
}
.content {
	margin:0 auto;
}
.header {
	width:950px;
	margin:0 auto;
	height:90px;
	line-height:90px;
	background:#f60;
	font-size:40px;
	font-family:"微软雅黑";
	color:#fff;
	font-weight:bold
}

#foot{
	z-index:21; 
	background:#ccc;
	width:100%;
	height:40px;
	line-height:40px;
	bottom:0 !important;
	text-align:center;
	 border-top:1px solid #c0c3c9;
}

.m10 {
	margin-top:10px;
}
.p10 {
	padding:10px
}
.p5 {
	padding:5px 5px 5px 25px;font-size:12px;
}
.h100 {
	height:100px;
}
.h420 {
	height:450px;
	margin-bottom:50px;
}
.eee {
	background:#eee;
}
.fff {
	background:#fff;
}
.w950 {
	width:950px;
	margin:0 auto;
}
.h40 {
	border-bottom:1px solid #ccc;
}
.f4f {
	background:#f4f4f4;
}
table{font-size:12px;padding:10px;color:#666}
 a{color:#0579c6; text-decoration:none}
 a:hover{color:#ff6600; text-decoration:underline}
.nick{font-weight:bold}
.fc{text-align:center}
li{float:left;list-style:none;padding:13px;text-align:left}
li .price{color:#ff6600;font-size:14px;font-weight:bold;font-family:Georgia, "Times New Roman", Times, serif}
li img{border:1px solid #ccc;height:160px;width:160px;}
