<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RuleAddress" value="rule.xml" />
    <add key="ImgAddress" value="D:\\DownLoadImg"/>
    <add key="imghost" value="images.u2r.cn" />
    <add key="postnewsurl" value="http://www.fenseshenghuo.com/ttdede/article_add.php"/>
    <add key="ConnString" value="Data Source=.;Initial Catalog=CaiJiData;User ID=sa;pwd=123;"/>
  </appSettings>
</configuration>