<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="ConnString" value="Data Source=localhost\MSSQLSERVER2008;Initial Catalog=TopFree;Persist Security Info=True;User ID=free;Password=t576857681987116" />

    <add key="LogAddress" value="D:\\BangT\\Log" />

    <add key="timespan" value="24" />
  </appSettings>
</configuration>